### Run the backup Python script to use Boto3 for uploading to S3
### Run the command as root at 2:00 AM every day
0 2 * * * /bin/bash -c '/usr/local/bin/python /app/src/backup.py' >> /app/crontab.log 2>&1
