 html,
 body,
 #root {
     font-family: 'Times New Roman', serif;
     margin: 0;
     padding: 0;
     height: 100%;
 }

 :root {
     --ant-font-family: 'Times New Roman', Times, serif;
 }

 .row-selected {
     background-color: #e0f7fa !important
 }

 .row-pending {
     background-color: #ffffff !important
 }

 .row-in-progress {
     background-color:#e8f5e9 !important
 }

 .row-completed {
     background-color: #ffebee !important
 }

 .row-warning {
     background-color: #fff8e1 !important
 }

 .row-cancel {
     background-color: #ede7f6 !important
 }
 
